
.cardDiv{
    margin-top: 65px;
    width: 1098px;
    background-color:#edf8f9;
    height: 600px;
    margin-left: 200px;
}

.buttonDiv{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 65px;
    background-color: #edf8f9;
    align-items: center;
}


#logo-search {
    position: relative;
    /* padding: 0px 140px 10px 60px; */
    padding: 0px 545px 0px 57px;
  }
  
  #logo {
    position: absolute;
    color: #00000096;
    padding: 5px 5px;
    height: 31px;
  }
  
  .search {
      background-color: white;
    padding: 0px 30px;
    height: 30px;
    width: 400px;
    border: 1px solid #9e9e9e;
    border-radius: 21px;
}
  
.uploadIconDiv{
    border-radius: 48%;
    border: 1px solid grey;
    height: 26px;
    align-items: center;
    display: flex;
    background-color: rgb(28, 122, 230);
    margin-right: 10px;
    cursor: pointer;
}

.dividerContent{
    display: flex;
    flex-direction: row;
}

.heading{
    padding: 0px 19px 0px 100px;
    cursor: pointer;
}

.detailCardDiv{
    margin-left: 63px;
    margin-top: 18px;
    display: flex;
    flex-direction: row;
}

.detailsCard{
    width: 225px;
    height: 70px;
    margin-right: 15px;
    border-left: 3px solid #7F961E;
    border-radius: 8px;
    margin-left: 5px;

}

.cardContent{
    position: absolute;
    margin: -74px 68px;
}

.name{
    margin: 3px 0px 2px 0px;
    font-size: 14px;
    font-weight: 550;
    color:  rgb(66, 66, 66);
}

.mobile{
    font-size: xx-small;
    color: rgb(78, 78, 78);
    margin: 2px 0px 1px 0px;
}

.email{
    font-size: xx-small;
    color:rgb(78, 78, 78);
    margin: 1px 0px 2px 0px;
}

.phoneDiv{
    display: flex;
    flex-direction: row;
}

